body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.hero .container {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.advantage .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.team .container {
  padding-top: 60px;
  padding-bottom: 94px;
  text-align: center;
}

.clients .container {
  padding-top: 60px;
  padding-bottom: 94px;
  text-align: center;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.nav .container {
  width: auto;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .hero .container {
    height: auto;
  }
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1200px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.contact__icon {
  width: 16px;
  height: 16px;
  color: currentColor;
}

.advantage__icon {
  height: 70px;
  width: 70px;
  margin: 25px 100px;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  margin: 12px;
  fill: currentColor;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  margin: 16px 32px;
}

.footer-social__icon {
  fill: #FFF;
}

.newsletter__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

.form__icon {
  height: 18px;
  width: 18px;
  margin-left: 12px;
  margin-right: 12px;
  fill: currentColor;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-menu {
  width: 100%;
  height: 100%;
}

.icon-menu__button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: white;
}

.icon-menu:hover,
.icon-menu:focus {
  color: #2196F3;
}

@media (min-width: 601px) {
  .icon-menu__button {
    display: none;
  }
}

.btn--blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 50px;
}

.btn__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 500;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-transform: uppercase;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo--blue {
  color: #2196F3;
}

.social-icon-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  -webkit-transition: cubic-bezier(0.05, 0.79, 0.83, 0.67) 500ms;
  transition: cubic-bezier(0.05, 0.79, 0.83, 0.67) 500ms;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.mobile-menu--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 95px;
  min-width: 254x;
}

.navigation__item {
  position: relative;
}

.navigation__item--active-page::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  content: "";
  background: #2196F3;
  height: 4px;
  width: 100%;
  margin-top: 28px;
  border-radius: 2px;
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 320px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.contact__link:hover, .contact__link:focus {
  color: #2196F3;
}

.menu__item .menu__link--current {
  color: #2196F3;
}

.menu__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.menu__link:hover, .menu__link:focus {
  color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 40px;
}

.mobile-social__link {
  font-size: 18px;
  color: #2196F3;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-social__item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
}

.mobile-contacts {
  text-align: left;
  margin-bottom: 64px;
}

.contacts__link {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
}

.contacts__icon:hover {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
  .menu-list {
    margin-top: 48px;
    margin-left: 40px;
    margin-bottom: 200px;
  }
  .menu__link {
    font-size: 40px;
    line-height: 1.175;
  }
  .menu__item {
    margin-top: 32px;
  }
  .contact__list {
    display: none;
  }
  .contacts {
    display: none;
  }
  .contacts__link {
    display: inline-block;
    font-size: 24px;
    line-height: 1.172;
    margin-left: 40px;
  }
  .contacts__link--accent {
    color: #2196F3;
    font-size: 34px;
    margin-bottom: 32px;
  }
}

@media (min-width: 601px) and (max-width: 850px) {
  .navigation__list {
    min-width: 200px;
    max-width: 254px;
    margin-left: 50px;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
    width: 254px;
  }
  .menu__link {
    font-size: 14px;
    line-height: 1.143;
  }
  .menu__link--current::after,
  .menu__link:hover::after {
    content: "";
    background-color: #2196F3;
    height: 4px;
    width: 100%;
    display: block;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: -30px;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contact__item {
    margin-top: 5px;
  }
  .contact__item:last-child {
    margin-right: 27px;
  }
  .contacts__link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 850px) {
  .navigation__list {
    min-width: 254px;
  }
}

.hero {
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/hero480x400.jpg);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero480x400.jpg);
  background-size: cover;
}

.hero__tittle {
  padding-top: 118px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.616;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 30px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/hero960x800.jpg);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero960x800.jpg);
    background-size: cover;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/hero768x400.jpg);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero768x400.jpg);
    background-size: cover;
  }
}

@media (min-width: 480px) and (max-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (max-width: 768px) and (min-resolution: 192dpi), (min-width: 480px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/hero1536x800.jpg);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero1536x800.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/hero1600x600.jpg);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero1600x600.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/hero3200x1200.jpg);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero3200x1200.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1200px;
    max-width: 1600px;
  }
  .hero__tittle {
    font-size: 44px;
    line-height: 1.364;
    padding-top: 200px;
  }
  .hero__btn {
    margin-top: 30px;
    margin-bottom: 200px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 528px;
  width: 581px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #000;
}

.modal__btn {
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.form__wrapper {
  padding: 40px;
}

.form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 12px;
}

.form__label {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus-within, .form__input:hover {
  border-color: #2196F3;
  color: #2196F3;
}

.form__text {
  border: none;
  outline: none;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  min-height: 120px;
  min-width: 100%;
  max-width: 100%;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:focus-within, .form__textarea:hover {
  border-color: #2196F3;
}

.policy__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.policy__checkbox {
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.policy__checkbox:checked {
  background-image: url(../images/icon-check1.svg);
  background-color: #2196F3;
  border-color: #2196F3;
}

.policy__text {
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy__link {
  color: #2196F3;
}

.modal__btn-submit {
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .modal {
    max-width: 100%;
  }
  .policy__text {
    font-size: 12px;
  }
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.advantage__item {
  margin-bottom: 30px;
}

.advantage__icon-wrapper {
  text-align: center;
  background: #F5F4FA;
  border-radius: 4px;
}

.advantage__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  text-align: center;
}

.advantage__description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .advantage {
    margin-left: -15px;
  }
  .advantage__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantage__item {
    -ms-flex-preferred-size: calc(100% / 2 - 15px);
        flex-basis: calc(100% / 2 - 15px);
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .advantage__item:not(:last-child) {
    margin-right: 30px;
  }
}

.about {
  display: none;
}

.about .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 1;
}

@media screen and (min-width: 1200px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team {
  background-color: #F5F4FA;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-left: -15px;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__img {
  width: 100%;
}

.team__header {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__description {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 18px;
}

.social-icon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon__item:hover, .social-icon__item:focus {
  background: #2196F3;
}

.social-icon__item:hover .social-icon__link,
.social-icon__item:focus .social-icon__link {
  color: #fff;
}

.social-icon__link {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .team__item {
    -ms-flex-preferred-size: calc(100%/2 - 15px);
        flex-basis: calc(100%/2 - 15px);
    margin-left: 15px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 960px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
  }
  .team__item {
    max-width: 270px;
    margin-left: 0;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  -ms-flex-preferred-size: calc(100% / 2 - 15px);
      flex-basis: calc(100% / 2 - 15px);
  margin-top: 15px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #757575;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
  color: #2196F3;
  border-color: #2196F3;
}

@media screen and (max-width: 767px) {
  .clients__item:not(:nth-child(2n)) {
    margin-right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 3 - 15px);
        flex-basis: calc(100% / 3 - 15px);
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    margin-left: -15px;
    margin-right: -15px;
  }
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 15px;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  background-color: #2f303a;
}

.footer__logo--white {
  color: #fff;
}

.footer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.address__list {
  font-style: normal;
  margin-top: 20px;
  text-align: center;
}

.address__item {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFF;
}

.address__item:not(:first-child) {
  padding-top: 9px;
}

.address__contact {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover, .address__contact:focus {
  color: #2196F3;
}

.footer-social {
  margin-top: 60px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__item:hover, .footer-social__item:focus {
  background: #2196F3;
}

.newsletter {
  margin-top: 60px;
  width: 100%;
}

.newsletter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter__input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding: 15px 16px;
  background-color: #2f303a;
  letter-spacing: 0.03em;
  color: #fff;
}

.newsletter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .footer-social {
    margin-top: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer.newsletter {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .container {
    text-align: left;
  }
  .footer-social {
    margin-top: 0;
  }
  .newsletter {
    width: auto;
    margin-top: 0;
  }
  .newsletter__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newsletter__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
  .newsletter__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__item {
  width: 128px;
  height: 38px;
  margin-bottom: 8px;
  margin-right: 8px;
  text-align: center;
  background: #F5F4FA;
}

.nav__btn {
  font-weight: 500;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__btn:hover, .nav__btn:active {
  color: #fff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-left: -15px;
}

.cards__item {
  margin-bottom: 30px;
  background: #FFFFFF;
  cursor: pointer;
}

.cards__item:hover, .cards__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__item:hover .description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards__wrapper {
  position: relative;
  overflow: hidden;
}

.cards__img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.cards__bottom {
  border: 1px solid #eee;
}

.cards__header {
  padding: 20px 24px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #212121;
}

.cards__description {
  padding: 0 24px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  top: 0;
  left: 0;
  -webkit-transform: translateY(102%);
          transform: translateY(102%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.description__text {
  padding-left: 24px;
  padding-right: 45px;
}

@media screen and (max-width: 680px) {
  .cards__item {
    -ms-flex-preferred-size: calc(100% - 15px);
        flex-basis: calc(100% - 15px);
    max-width: 100%;
    margin-left: 15px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 710px) {
  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 680px) and (max-width: 1129px) {
  .cards__item {
    -ms-flex-preferred-size: calc(100%/2 - 15px);
        flex-basis: calc(100%/2 - 15px);
    max-width: 100%;
    margin-left: 15px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1130px) {
  .cards__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards__item {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .cards__item:not(:nth-child(3n)) {
    margin-right: 27px;
  }
  .cards__img {
    width: 370px;
  }
}
/*# sourceMappingURL=main.css.map */