.about {

    display: none;

    & .container {
        width: 1200px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }

    &__list {
        display: flex;
        padding-top: 50px;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__description {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        bottom: 0;
        background: rgba(47, 48, 58, 0.8);
        font-style: 400;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        z-index: 1;
    }
}

@media screen and (min-width: 1200px) {
    .about {
        display: flex;
    }
}