.footer {
    background-color: #2f303a;

    &__logo--white {
        color: #fff;
    }

    &__header {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
    }
}

.address {

    &__list {
        font-style: normal;
        margin-top: 20px;
        text-align: center;
    }

    &__item {
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: #FFF;

        &:not(:first-child) {
            padding-top: 9px;
        }
    }

    &__contact {
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $main-color;
        }
    }
}

.footer-social {
    margin-top: 60px;

    &__list {
        display: flex;
    }

    &__item {
        display: flex;
        margin-right: 10px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background: $main-color;
        }
    }
}

.newsletter {
    margin-top: 60px;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input {
        width: 100%;
        max-width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        outline: none;
        padding: 15px 16px;
        background-color: #2f303a;
        letter-spacing: 0.03em;
        color: #fff;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer {

        & .container {
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-content: flex-start;
        }

        &-social {
            margin-top: 0;
            align-self: flex-start;
        }

        &.newsletter {
            flex-grow: 1;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        display: flex;

        & .container {
            text-align: left;
        }

        &-social {
            margin-top: 0;
        }
    }

    .newsletter {
        width: auto;
        margin-top: 0;

        &__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__input {
            width: 358px;
            height: 50px;
            margin-right: 12px;
        }

        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
        }
    }
}