.hero {

    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/main/hero480x400.jpg);
    background-size: cover;

    &__tittle {
        padding-top: 118px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.616;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFF;
    }

    &__btn {
        margin-top: 30px;
        margin-bottom: 118px;
    }
}

@media screen and (min-width:$breakpoint-tablet) {
    .hero {
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/main/hero768x400.jpg);
    }
}

// @media screen and (min-width: $breakpoint-desktop) {
//     .hero {
//         min-width: 1200px;
//         max-width: 1600px;
//         font-weight: 900;
//         font-size: 44px;
//         line-height: 1.364;
//         text-align: center;
//         letter-spacing: 0.06em;
//         text-transform: uppercase;
//         color: #FFFFFF;
//         padding-top: 200px;
//     }
// }