.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 528px;
    width: 581px;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #000;

    &__btn {
        position: relative;
        margin-right: 10px;
        margin-top: 10px;
    }
}

.form {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    &__wrapper {
        padding: 40px;
    }

    &__header {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: #212121;
        padding-bottom: 12px;
    }

    &__label {
        display: block;
        text-align: left;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
        margin-bottom: 4px;
        color: $third-color;
    }

    &__input {
        display: flex;
        align-items: center;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus-within,
        &:hover {
            border-color: $main-color;
            color: $main-color;
        }
    }

    &__text {
        border: none;
        outline: none;
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
    }

    &__textarea {
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        outline: none;
        min-height: 120px;
        min-width: 100%;
        max-width: 100%;
        padding: 12px 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus-within,
        &:hover {
            border-color: $main-color;
        }
    }
}

.policy {

    &__input {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    &__checkbox {
        width: 1em;
        height: 1em;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 2px;
        appearance: none;
        cursor: pointer;

        &:checked {
            background-image: url(../images/icon-check1.svg);
            background-color: $main-color;
            border-color: $main-color;
        }
    }

    &__text {
        margin-left: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: $third-color;
    }

    &__link {
        color: $main-color;
    }
}

.modal__btn-submit {
    margin-top: 30px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .modal {
        max-width: 100%;
    }

    .policy__text {
        font-size: 12px;
    }
}