.team {
    background-color: #F5F4FA;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-left: -15px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__img {
        width: 100%;
    }

    &__header {
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.188;
        text-align: center;
        letter-spacing: 0.03em;
        color: $secondary-color;
    }

    &__description {
        font-size: 16px;
        line-height: 1.188;
        text-align: center;
        letter-spacing: 0.03em;
        color: $third-color;
    }
}

.social-icon {

    &__list {
        display: flex;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 18px;
    }

    &__item {
        display: flex;
        margin-right: 10px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background: $main-color;
        }

        &:hover .social-icon__link,
        &:focus .social-icon__link {
            color: #fff;
        }

    }

    &__link {
        color: $third-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 480px) {
    .team {

        &__item {
            flex-basis: calc(100%/2 - 15px);
            margin-left: 15px;
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 960px) {
    .team {

        &__list {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            margin-left: 0;
        }

        &__item {
            max-width: 270px;
            margin-left: 0;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}