.icon {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
}

.contact__icon {
    width: 16px;
    height: 16px;
    color: currentColor;
}

.advantage__icon {
    height: 70px;
    width: 70px;
    margin: 25px 100px;
}

.social-icon {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 12px;
    fill: currentColor;
}

.clients__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
    margin: 16px 32px;
}

.footer-social__icon {
    fill: #FFF;
}

.newsletter__icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
}

.form__icon {
    height: 18px;
    width: 18px;
    margin-left: 12px;
    margin-right: 12px;
    fill: currentColor;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-menu {
    width: 100%;
    height: 100%;

    &__button {
        width: 40px;
        height: 40px;
        padding: 0;
        border: none;
        background: white;
    }
}

.icon-menu:hover,
.icon-menu:focus {
    color: $main-color;
}

@media (min-width: 601px) {
    .icon-menu__button {
        display: none;
    }
}