.mobile-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transition-property: opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.mobile-menu--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}