.container {
    align-items: center;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    .header & {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }

    .hero & {
        height: 400px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto;
    }

    .advantage & {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 30px;
        padding-left: 15px;
    }

    .team & {
        padding-top: 60px;
        padding-bottom: 94px;
        text-align: center;
    }

    .clients & {
        padding-top: 60px;
        padding-bottom: 94px;
        text-align: center;
        padding-left: 0;
    }

    .footer & {
        display: flex;
        padding: 60px 15px;
        justify-content: center;
        align-items: flex-start;
    }

    .nav & {
        width: 100vw;
        margin: 0 auto;
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

@media screen and (max-width: $breakpoint-desktop) {
    .container {
        width: 100vw;
    }
}