$main-font: 'Roboto',
sans-serif;
$secondary-font: 'Raleway',
sans-serif;
$main-color: #2196F3;
$secondary-color: #212121;
$third-color: #757575;

// BREAKPOINTS

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;